---
// layouts
import { Layout } from '@/layouts';
// components
import { Welcome } from '@/components';
---

<Layout title="Hostal Casa Liz - Landing Page">
    <main>
        <Welcome />
    </main>
</Layout>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    main {
        @include sb.flex;
        @include sb.gap(all space sm);
        flex-grow: 1;
    }
</style>
