---
// layouts
import { Layout } from '@/layouts';
// components
import { Welcome, Services, Contacts } from '@/components';
---

<Layout title="Hostal Casa Liz - Landing Page">
    <main>
        <Welcome />

        <Services />
    </main>

    <Contacts />
</Layout>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    main {
        @include sb.flex;
        @include sb.gap(all space xl);
        flex-grow: 1;

        @include sb.min-width(xl) {
            @include sb.gap(all space 4xl);
        }
    }
</style>
