---
// layouts
import { Layout } from '@/layouts';
// components
import { Icon } from '@/components';
// assets
import { mdiAccountAlert } from '@mdi/js';
---

<Layout title="Hostal Casa Liz - Landing Page">
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni quibusdam
        perspiciatis dignissimos. Aliquam, harum culpa. Enim libero rerum quia?
    </main>

    <span>Lorem ipsum dolor sit amet.</span>

    <Icon path={mdiAccountAlert} />
</Layout>

<style lang="scss"></style>
