---
import Fav from './Fav.astro';
---

<header>
    <a href="/#welcome" class="home">
        <Fav />
    </a>

    <nav>
        <ul>
            <li><a href="#welcome">Inicio</a></li>

            <li><a href="#services">Servicios</a></li>

            <!-- <li><a href="#about-us">Quienes Somos</a></li> -->

            <li><a href="#contacts">Contactos</a></li>
        </ul>
    </nav>
</header>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    header {
        @include sb.bg-color(base, 10);
        @include sb.flex(row, center);
        @include sb.gap(all space sm);
        position: sticky;
        top: 0;
        z-index: 10;
    }

    nav {
        @include sb.flex(row, center, end);
        flex-grow: 1;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    a {
        @include sb.bg-color(secondary, 50, true);
        @include sb.bg-opacity(0);
        @include sb.font(weight lg);
        @include sb.font-color(primary, 50);
        @include sb.padding(x space sm, y space xs);
        @include sb.rounded(all space xs);
        text-align: center;
        text-wrap: nowrap;
        transition: all 250ms ease-in-out;

        &:hover {
            @include sb.bg-opacity(0.1);
        }

        &:active {
            @include sb.bg-opacity(0.2);
            transform: scale(0.95);
        }
    }

    a.home {
        @include sb.font(family title, size 4xl);
        @include sb.padding(y 0);
        line-height: 1;
    }
</style>
