---
// components
import Icon from './Icon.astro';

interface Props {
    icon: string;
    text: string;
}

const { icon, text } = Astro.props;
---

<span class="item">
    <span class="icon">
        <Icon path={icon} />
    </span>

    <span>{text}</span>
</span>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    .item {
        @include sb.flex(row, center);
        @include sb.font(size lg);
        @include sb.font-color(primary, 50);
        @include sb.gap(all space md);
    }

    .icon {
        @include sb.font(size 3xl);
    }
</style>
