<section>
    <span></span>

    <div class="welcome">
        <h1>Hostal Casa Liz</h1>

        <p>Ubicado en el centro del corazón de la vieja Managua, lo que permite estar cerca de:</p>

        <p>
            Metrocentro, Plaza Inter, Mercado Oriental, Hospital Cruz Azul, Hospital Bautista,
            Hospital Militar, y asolo 10 minutos del centro de recreación Puerto Salvador Allende
        </p>
    </div>
</section>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    section {
        @include sb.rounded(all space xs);
        aspect-ratio: 16 / 9;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;

        background-image: radial-gradient(
                circle at 0% 50%,
                oklch(sb.color(primary, 50) / 0.2) 40%,
                oklch(sb.color(primary, 50) / 0.8) 46%,
                oklch(sb.color(primary, 50) / 1) 80%
            ),
            url('./casa-liz.webp');
    }

    .welcome {
        @include sb.flex(column, center, center);
        @include sb.font-color(base, 10);
        @include sb.gap(all space sm);
        @include sb.padding(all space md);
        text-align: center;

        h1 {
            @include sb.font(family title, size 4xl);
        }

        p {
            @include sb.font(size lg);
        }
    }
</style>
