<section>
    <div class="welcome">
        <h1>Hostal Casa Liz</h1>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur velit sint a animi
            at vel!
        </p>
    </div>
</section>

<style lang="scss">
    @use '@sbsys/sb-scss' as sb;

    section {
        @include sb.rounded(all space xs);
        aspect-ratio: 16 / 9;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;

        background-image: radial-gradient(
                circle at 100% 50%,
                transparent 45%,
                oklch(sb.color(primary, 50) / 0.9) 46%
            ),
            url('./casa-liz.webp');
    }

    .welcome {
        @include sb.flex(column, center, center);
        @include sb.font-color(base, 10);
        @include sb.gap(all space sm);
        @include sb.padding(all space md);
        text-align: center;

        h1 {
            @include sb.font(family number, size 3xl);
        }

        p {
            @include sb.font(size lg);
        }
    }
</style>
